<div class="index-container">
  <img src="/images/beer.png" alt="beer">
</div>

<div class="button-container">
  <a href="/beers" class="button">Check the Beers!</a>
  </div>
<div class="button-container">
 <a href="/randomBeer" class="button">Check a Random Beer!</a>
</div>
